@font-face {
    font-family: HisenseAlfabet-Bold;
    src: url(../fuentes/HisenseAlfabet-Bold.otf);
}

@font-face {
    font-family: HisenseAlfabet-Light;
    src: url(../fuentes/HisenseAlfabet-Light.otf);
}

@font-face {
    font-family: HisenseAlfabet-Medium;
    src: url(../fuentes/HisenseAlfabet-Medium.otf);
}

@font-face {
    font-family: HisenseAlfabet-Regular;
    src: url(../fuentes/HisenseAlfabet-Regular.otf);
}

@font-face {
    font-family: Qatar2022-Bold;
    src: url(../fuentes/Qatar2022-Bold.otf);
}
body{
    font-family: HisenseAlfabet-Regular;
}

.logo{
    width: 100%;
}
.navbar{
    background-color: rgb(255, 255, 255);
    height: 100px;
   
}

.container{
    margin-left: 35px; 
}

.navbar>.container{
    justify-content: flex-start;
}
.navbar-brand{
    width: 100px;
}
.nav-item{
    margin-left: 50px;
    font-size: 13px; 
}

.nav-link{
    color: black;
}