@font-face {
    font-family: HisenseAlfabet-Bold;
    src: url(../fuentes/HisenseAlfabet-Bold.otf);
}

@font-face {
    font-family: HisenseAlfabet-Light;
    src: url(../fuentes/HisenseAlfabet-Light.otf);
}

@font-face {
    font-family: HisenseAlfabet-Medium;
    src: url(../fuentes/HisenseAlfabet-Medium.otf);
}

@font-face {
    font-family: HisenseAlfabet-Regular;
    src: url(../fuentes/HisenseAlfabet-Regular.otf);
}

@font-face {
    font-family: Qatar2022-Bold;
    src: url(../fuentes/Qatar2022-Bold.otf);
}

body {
    font-family: HisenseAlfabet-Regular;
}

.logo {
    width: 100%;
}

#header {
    background-color: white;
    padding: 1.5%;
}

.btn-outline-success {
    --bs-btn-border-color: #ffffff;
    --bs-btn-color: #020202;
    --bs-btn-hover-bg: #00b2ab;
}

.btn {
    --bs-btn-border-width: 0px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25remrgba(13, 110, 253, .25);
}

.ico>img {
    width: 40px;
}

.navbar>.container {
    justify-content: flex-start;
}

.navbar-brand {
    width: 100px;
}

#itm {
    margin-left: 400px;
}

.nav-item {
    margin-left: 40px;
    font-size: 13px;
}

.nav-link {
    color: black;
}

#hisense {
    font-family: HisenseAlfabet-Bold;
    padding: 70px;
}
/* #col{
    padding-right: 2px;
} */

.card {
    border-radius: 0px;
    --bs-card-inner-border-radius: 0px;
    --bs-card-border-color: none;
}

#texto-card {
    color: white;
    font-family: HisenseAlfabet-Medium;
    font-size: 1.8vw !important;
}

#enlace-ver{
    font-size: 1vw;
    font-family: HisenseAlfabet-Light;
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

#ver-mas {
    font-size: 1vw;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
    --bs-btn-border-width: 2.5px;
    transition: border-color 0.5s color 0.5s;
}

#ver-mas:hover {
    color: #00b2ab;
    background-color: transparent;
    border-color: #00b2ab;
}

#bsc {
    width: 40%;
    padding: 1%;
    margin-left: 30%;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #00B2AB;
    border-color: white;
}

#boton {
    
 
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
    --bs-btn-border-width: 2.5px;

    transition: border-color 0.5s color 0.5s;
}

#boton:hover {
    color: #00b2ab;
    background-color: transparent;
    border-color: #00b2ab;
}



#enlace:hover {
    color: #00b2ab;
}

.text-start {
    color: black;
    font-size: 13px;
}

.text-start>a {
    color: black;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;

}


hr {
    border: 1px solid #A4A6A9;
    opacity: none;
    width: 90%;
    margin-left: 5%;
}


.tittle {
    width: 10%;
    margin-left: 5%;

}

.form-control {
    width: 40%;
    padding: 1%;
    margin-left: 30%;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #00B2AB;
    border-color: white;
}
#d-flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#search{
    background-color: #00b2ac00;
    width: 90%;
    margin: 0%;
    border-bottom: 1px solid #A4A6A9;
    border-radius: 0% !important;
}

.col>a {
    color: #848484;
    text-decoration: none;
}

.terminos {
    background-color: #eeeeee;
    padding: 3%;
}

#experiencias {
    padding-top: 10px;
    padding-left: 1px;

}

#titulo {
    font-size: 1.5vw;
    position: relative;

}

#boton-ex {
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
    transition: border-color 0.5s color 0.5s;
    --bs-btn-border-width: 2.5px;

}

#boton-ex:hover {
    color: #00b2ab;
    background-color: transparent;
    border-color: #00b2ab;
}

#vidaa {
    width: 14%;
    position: relative;
    top: 10%;
    right: 20%;
}

#titulo-vd {
    font-size: 20px;
    position: relative;
    top: 18%;
    right: 20%;
    font-family: HisenseAlfabet-Medium;
    color: white;
}

#txt-vidaa {
    position: relative;
    top: 22%;
    width: 53%;
    left: 6%;
    color: white;
    font-size: 1.2vw;
    font-family: HisenseAlfabet-Light;
}

#boton-vida {
    position: relative;
    top: 25%;
    right: 20%;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 20px;
    transition: border-color 0.5s color 0.5s;
    --bs-btn-border-width: 2.5px;
}

#boton-vida:hover {
    color: #00b2ab;
    background-color: transparent;
    border-color: #00b2ab;
}



#top-text {
    text-align: left;
    position: relative;
    top: 10%;

    
}

#enlace-3:hover {
    color: #00b2ab;
}

.parrafo {
    color: white;
    margin-left: 25%;
    font-family: HisenseAlfabet-Bold;
}

.suscribe {
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    border: none;
    height: 42px;
    cursor: pointer;
    color: #00B2AB;
    background-color: white;
    border-radius: 25px;
    width: 8%;
    font-size: 15px;
    margin-top: -77px;
    margin-left: 830px;
    margin-bottom: 50px;
    transition: color 0.5s, background-color 0.5s;
}

.suscribe:hover {
    color: white;
    background-color: #000000;
}

.suscripcion {
    background-color: #00B2AB;
    margin-top: 1%;
    margin-bottom: 7%;
    height: 300px !important;
}

.logo-w {
    width: 25%;
    position: relative;
    top: 40px;
}

.form-control {
    width: 45%;
    padding: 1%;
    margin-left: 25%;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #00B2AB;
    border-color: white;
    margin-top: 6%;
}

.parrafo>p {
    position: relative;
    top: 50px;
    font-size: 30px;
}

.d-flex {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.modal-content {
    background-color: #00b2ac00;

}

.modal-header {
    background-color: #00b2ac;
    color: white;

}

.modal-body {
    background-color: #ffffff;
    color: rgb(6, 6, 6);
}

.d-flex>#search::-webkit-input-placeholder {
    color: black;
    font-size: 10px;
}
#cl {
    font-size: 35px;
}

#ico {
    margin-left: 73%;
}

footer {
    font-size: 14px;
    font-family: HisenseAlfabet-Regular;
}

.buttonIn>input::-webkit-input-placeholder{
    color: white;
    padding-left: 5px;

}






